# config File for the Photo Booth

[Display]
header1 = 'Photo Booth', '#000000'
header1size = 100
header2 = 'Hochzeit', '#000000', 'Ulli', '#A9C3DB', '&', '#000000', 'Heli', '#A9C3DB'
header2size = 50
headersfont = 'fonts/kingthings.ttf'

[Collage]
text1 = 'Ulli & Heli', '#A9C3DB'
text2 = '10.September 2016','#000000'
text1_size = 6
text2_size = 2.5
text1_font = 'fonts/ChopinScript.ttf'
text2_font = 'fonts/kingthings.ttf'
width_res = 4000
bp_offset = 2
r_offset = 20
width = 148
height = 100
shoot_timing = 2.5
l_offset = 6.4
t_offset = 5
text_offset = 1
offset_between_texts = 0